.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(var(--bg_color_1), var(--bg_color_2));
}
